<!DOCTYPE html>
<html>
  <head>
    <tender>Bids API</tender>
  </head>
  <body>
    <h1>Bids</h1>
    <table>
        <thead>
            <tr>
              <form action="/" method="get">
                <th><button type="submit" class="sort-button" name="sort" value="_id">ID</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="tender">Tender</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="bid_date">Bid Date</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="client">Client</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="alias">Alias</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="was_successful">Was Successful</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="bid_folder_url">Bid Folder URL</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="status">Status</button></th>
                <th><button type="submit" class="sort-button" name="sort" value="last_updated">Last Updated</button></th>
              </form>
            </tr>
          </thead>
      <tbody>
        {% for bid in bids %}
        <tr>
            <td>{{ bid._id }}</td>
            <td>{{ bid.tender }}</td>
            <td>{{ bid.bid_date }}</td>
            <td>{{ bid.client }}</td>
            <td>{{ bid.alias }}</td>
            <td>{{ bid.was_successful }}</td>
            <td>{{ bid.bid_folder_url }}</td>
            <td>{{ bid.status }}</td>
            <td>{{ bid.last_updated }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
        <form action="/" method="get">
            <input type="hidden" name="offset" value="{{ offset + limit }}">
            <input type="hidden" name="limit" value="{{ limit }}">
            {% if bids|length == limit %}
            <input type="submit" value="Next">
            {% endif %}
        </form>

        <span>Page {% if offset > 0 %}{{ (offset // limit) + 1 }}{% else %}1{% endif %}</span>
  
        <form action="/" method="get">
            <input type="hidden" name="offset" value="{{ offset - limit }}">
            <input type="hidden" name="limit" value="{{ limit }}">
            {% if offset and offset > 0 %}
            <input type="submit" value="Previous">
            {% endif %}
        </form>
    </div>

    <h2>Sort results</h2>
    <form action="/" method="post">
        <label for="sort">Sort by: </label>
        <input type="text" name="sort" id="sort"/><br />
        <label for="limit">No. of results per page: </label>
        <input type="number" name="limit" id="limit"/><br />
        <input type="submit" value="Submit" />
    </form>
    <!-- <h2>Add a Bid</h2>
    <form action="/add_bid" method="post">
      <label for="tender">Tender:</label>
      <input type="text" name="tender" id="tender" required /><br />
      <label for="client">Client:</label>
      <input type="text" name="client" id="client" required /><br />
      <label for="bid_date">Bid Date:</label>
      <input type="text" name="bid_date" id="bid_date" required /><br />
      <label for="alias">Alias:</label>
      <input type="text" name="alias" id="alias" /><br />
      <label for="bid_folder_url">Bid Folder URL:</label>
      <input type="text" name="bid_folder_url" id="bid_folder_url" /><br />
      <label for="was_successful">Was Successful:</label>
      <input type="text" name="was_successful" id="was_successful" /><br />
      <input type="submit" value="Add Bid" />
    </form> -->
  </body>
</html>
