/* Reset some default styles to ensure consistency across browsers */
body, h1, h2, table, th, td, form, input, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  /* Set background color and font for the body */
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    width: 99%;
  }
  
  /* Style the header */
  h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Style the main content */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px; /* Adjust the font size as needed */
    word-wrap: break-word; /* Enable word wrapping */
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  fieldset {
    border: none;
  }  
  
  /* Style the pagination section */
  .pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    margin: 20px auto;
    width: 25%;
  }
  
  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 10px; /* Add some spacing between buttons */
  }

  /* Center the "Add a Bid" div with a thick border */
.add-bid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333; /* Adjust the border style as needed */
    padding: 20px; /* Add padding for spacing inside the div */
    width: 60%;
    margin: auto;
  }

.add-bid-form {
    width: 100%;
}
  
  /* Style the form elements */
  form {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 25%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the "Add a Bid" section */
  h2 {
    margin: 20px;
  }

  